<link rel="stylesheet" href="style.css">
<meta charset="UTF-8">
<div id="navBar"></div>
<h1><a id="title" href="index.html"><img id="titleimg" src="img/logo.png"></a></h1>
<nav id="navigation">
	<a href="index.html">Home</a>
	<a href="producten.html">Producten</a>
	<a href="overons.html">Over ons</a>
	<a href="contact.html">Contact</a>
</nav>
