body {
	background-color: #4c7a70;
}

h1 {
	color: #014360;
}

h2 {
	color: #014360;
}

h3 {
	color: #014360;
}

h4 {
	color: #014360;
}

a:link, a:visited {
	color: #8eacb9;
	text-decoration: none;
}

a:hover, a:active {
	color: #bfccd1;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

main {
	/* margin-top: 50px; */
	padding-bottom: 10px;
}

footer {
	width: 100%;
	/* position: absolute; */
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 100px;
	background-color: #2f574e;
}

button {
	background-color: #89bd56; /* Green */
    border: none;
	border-radius: 10px;
    color: #e8e8e8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	text-shadow: 2px 2px #393d41;
    display: inline-block;
    font-size: 16px;
}

.flag {
	width: 35px;
	height: 20px;
}

.tablet {
	width: 200px;
	height: 250px;
}

.product-row{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

#flag-bar {

}

#welkom {

}

#wie {

}

#wat {

}

#waar {

}

#navBar {
	width: 100%;
	height: 50px;
	background-color: #288151;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 0px;
}

#title {
	position: absolute;
	top: 0px;
	left: 0px;
}

#titleimg {
	width: 110px;
	height: 50px;
}

#navigation {
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 18px;
}


/* Products page */
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11 {
	margin: 10px;
}

#img1, #img2, #img3, #img4 {
	width: 114px;
	height: 139px;
}

#img5, #img6 {
	width: 300px;
	height: 198px;
}

#img7 {
	width: 133px;
	height: 175px;
}

#img8 {
	width: 320px;
	height: 180px;
}

#img9 {
	width: 279px;
	height: 200px;
}

#img10, #img11 {
	width: 124px;
	height: 200px;
}
